*{
    margin: 0;
    padding: 0;
}

#container{
    width: 1080px;
    margin: 0 auto;
}

header{
    width: 100%;
    height: 100px;
    background-color: burlywood;
}

#top_header{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-between;
}

#left_header,#right_header{
    width: 540px;
    height: 150px;
}

#left_header{
    background-color: blue;
}

#right_header{
    background-color: blueviolet;
}

#content{
    width: 100%;
    height: 500px;
    background-color: aqua;
}

#service{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-between;
}

#left_service,#right_service,#center_service{
    width: 360px;
    height: 150px;
}

#left_service{
    background-color: brown;
}

#right_service{
    background-color: chartreuse;
}

#center_service{
    background-color: darkgoldenrod;
}

footer{
    width: 100%;
    height: 100px;
    background-color: darkmagenta;
}